@using Inspinia_MVC5;
@using EntitiesServices.Work_Classes;
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        @*<img alt="image" class="img-circle" src="@Url.Content(ViewBag.Foto)" style = "width: auto; height: auto; max-height: 50px; max-width: 50px;" />*@
                        <img alt="image" class="img-circle" src="~/Images/Clayton.jpg" style = "width: auto; height: auto; max-height: 50px; max-width: 50px;" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                @*<strong class="font-bold">@ViewBag.Nome</strong>*@
                                <strong class="font-bold">Clayton Sant'Anna</strong>
                            @*</span> <span class="text-muted text-xs block">@ViewBag.Cargo<b class="caret"></b></span>*@
                            </span> <span class="text-muted text-xs block">CEO<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Perfil</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contatos</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        @if (SessionMocks.Assinante == null)
	                    {
                            <li><a href="@Url.Action("Login", "ControleAcesso")">Login</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Logout", "ControleAcesso")">Logout</a></li>
                        }
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "ControleAcesso")">
                <a href="@Url.Action("Index", "ControleAcesso")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Controle de Acesso</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "ControleAcesso", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Login", "ControleAcesso")">Login</a></li>
                    <li class="@Html.IsSelected(action: "Logout")"><a href="@Url.Action("Logout", "ControleAcesso")">Logout</a></li>
                    <li class="@Html.IsSelected(action: "AlterarSenha")"><a href="@Url.Action("TrocarSenha", "ControleAcesso")">Alterar Senha</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Administracao")">
                <a href="@Url.Action("Index", "Administracao")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Administração</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Administracao", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "MontarTelaLog")"><a href="@Url.Action("MontarTelaLog", "Administracao")">Auditoria</a></li>
                    <li class="@Html.IsSelected(action: "MontarTelaConfiguracao")"><a href="@Url.Action("MontarTelaConfiguracao", "Administracao")">Configurações</a></li>
                    <li class="@Html.IsSelected(action: "MontarTelaUsuario")"><a href="@Url.Action("MontarTelaUsuario", "Administracao")">Usuários</a></li>
                    <li class="@Html.IsSelected(action: "MontarTelaPerfil")"><a href="@Url.Action("MontarTelaPerfil", "Administracao")">Perfis de Acesso</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Institucional")">
                <a href="@Url.Action("Index", "Institucional")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Institucional</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Institucional", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "FaleConosco")"><a href="@Url.Action("FaleConosco", "Institucional")">Fale Conosco</a></li>
                    <li class="@Html.IsSelected(action: "Sobre")"><a href="@Url.Action("Sobre", "Institucional")">Sobre...</a></li>
                    <li class="@Html.IsSelected(action: "InformacoesLegais")"><a href="@Url.Action("InformacoesLegais", "Institucional")">Informações Legais</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>